block language
.navbar
  .content-wrapper-270
    .navbar-header
      a.navbar-banner(href="/")
        img.logo(src=require('../static/images/logo-inline-blue.svg'))
      button.navbar-toggle
        i.icon-menu
    .navbar-collpase
      .nav-item
        a(href='http://blog.flow.ci/') #{language.navbar_blog}
      .nav-item
        a(href='https://github.com/FIRHQ/flow.ci') #{language.navbar_doc}
      .nav-item
        a(href='http://changelog.flow.ci/') #{language.navbar_changelog}
      .nav-item
        a(href='/pricing.html') #{language.navbar_pricing}
      .nav-item.nav-multi-item.nav-sign
        a(href='/signin.html') #{language.navbar_signin}
        span /
        a(href='/signup.html' class="text-primary") #{language.navbar_signup}
      .nav-item.nav-condensed.nav-user.hide
        a
          img.avator
          span.text #{language.navbar_dashboard}