extends ../layouts/default

block content
  .page-home
    .section.banner
      .content-wrapper-270
        header.slogan
          if locale !== 'zh'
            h1 #{language.slogan}
          h3 !{language.slogn_desc}
        .form-container
          div.text-danger
          form#apply-form(method='post' onsubmit="return false;")
            input#email(type='email', name='email', placeholder='#{language.apply_placeholder}')
            input(type='submit' value='#{language.apply_btn}')
    .section.flow-concept
      .content-wrapper-270
        header
          if locale !== 'zh'
            h2 !{language.section_flow}
          else
            .left-icon-wrap
              img(src=require('../static/images/time.svg'))
          h3 !{language.section_flow_desc}
      .flow
        .flow-line
        .flow-steps

    .section.plugins
      .content-wrapper-270
        header
          if locale !== 'zh'
            h2 !{language.section_plugin}
          else
            .left-icon-wrap
              img(src=require('../static/images/stack.svg'))
          h3 !{language.section_plugin_desc}
        .categories
          .cate.code-analysis
            i.icon.icon-analysis
            div
              h4.title #{language.section_plugin_analysis}
              .list
                .item
                  i.icon-check
                  | Rubocop
                .item
                  i.icon-check
                  | Eslint
                .item
                  i.icon-check
                  | pep8
                .item
                  i.icon-check
                  | Codesniffer
                .item
                  i.icon-check
                  | Pretty Result

          .cate.databases
            i.icon.icon-database
            div
              h4.title #{language.section_plugin_database}
              .list
                .item
                  i.icon-check
                  | MongoDB
                .item
                  i.icon-check
                  | MySQL
                .item
                  i.icon-check
                  | Redis

          .cate.notification
            i.icon.icon-chat
            div
              h4.title #{language.section_plugin_notification}
              .list
                .item
                  i.icon-check
                  | Email
                .item
                  i.icon-check
                  | Slack

          .cate.others
            i.icon.icon-inbox
            div
              h4.title #{language.section_plugin_more}
              .list
                .item
                  i.icon-check
                  | Custom Scripts
                .item ...
    .section.languages
      .content-wrapper-270
        header
          if locale !== 'zh'
            h2 !{language.section_languages}
          else
            .left-icon-wrap
              img(src=require('../static/images/coffee.svg'))
          h3 !{language.section_languages_desc}
        .langs
          div.lang
            i.icon-apple
            p iOS
          div.lang
            i.icon-android
            p Android
          div.lang
            i.icon-nodejs
            p Node.js
          div.lang
            i.icon-ruby
            p Ruby
          div.lang
            i.icon-python
            p Python
          div.lang
            i.icon-php
            p PHP

    .section.more-things
      .content-wrapper-270
        header
          if locale !== 'zh'
            h2 !{language.section_more}
          h3 !{language.section_more_desc}
        .things
          div.item
            a(href='http://docs.flow.ci/#{locale}/' target='_blank').open-source-project
              i.icon.icon-gitbook
              span #{language.view_github}
          div.item
            a(href='https://gitter.im/FIRHQ/flow.ci' target='_blank').contact
              i.icon.icon-gitter
              span #{language.chat_gitter}
