extends ../layouts/default

block content
  .page-home
    .section.banner
      .content-wrapper-270
        header.slogan
          h1 #{language.slogan}
          h3 #{language.slogn_desc}

        .form-container
          div.text-danger
          form#apply-form(method='post' onsubmit="return false;")
            input#email(type='email', name='email', placeholder='#{language.apply_placeholder}', required)
            input(type='submit' value='#{language.apply_btn}')
          .form-result.text-success #{language.apply_success}
          .apply-incentive #{language.apply_incentive}
    .section.flow-concept
      .content-wrapper-270
        header
          h2 #{language.section_flow}
          h3 #{language.section_flow_desc}
      .flow
        .flow-line
        .flow-steps

    .section.plugins
      .content-wrapper-270
        header
          h2 #{language.section_plugin}
          h3 #{language.section_plugin_desc}
        .categories
          .cate.code-analysis
            h4.title #{language.section_plugin_analysis}
            .list
              .item
                i.icon-check
                | Rubocop
              .item
                i.icon-check
                | Eslint
              .item
                i.icon-check
                | pep8
              .item
                i.icon-check
                | Codesniffer
                .item
                i.icon-check
                | Pretty Result

          .cate.databases
            h4.title #{language.section_plugin_database}
            .list
              .item
                i.icon-check
                | MongoDB
              .item
                i.icon-check
                | MySQL
              .item
                i.icon-check
                | Redis

          .cate.notification
            h4.title #{language.section_plugin_notification}
            .list
              .item
                i.icon-check
                | Email
              .item
                i.icon-check
                | Slack

          .cate.others
            h4.title #{language.section_plugin_more}
            .list
              .item
                i.icon-check
                | Custom Scripts
              .item ...
    .section.languages
      .content-wrapper-270
        header
          h2 #{language.section_languages}
          h3 #{language.section_languages_desc}
        .langs
          div.lang
            i.icon-ruby
            p Ruby
          div.lang
            i.icon-python
            p Python
          div.lang
            i.icon-php
            p PHP
          div.lang
            i.icon-nodejs
            p Node.js
          div.lang
            i.icon-android
            p Android

    .section.more-things
      .content-wrapper-270
        header
          h2 #{language.section_more}
          h3 #{language.section_more_desc}
        .things
          div.item
            a(href='https://github.com/FIRHQ/flow.ci' target='_blank').open-source-project
              i.icon-github
              span #{language.view_github}
          div.item
            a(href='https://gitter.im/FIRHQ/flow.ci' target='_blank').contact
              i.icon-comments-o
              span #{language.chat_gitter}
  div.footer-wrap.content-wrapper-270
    <a href="https://mixpanel.com/f/partner" class="mixpanel-footer" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
