extends ../layouts/default

block content
  .page-reset-password
    .content-wrapper-270
      .form-container#forget-password.hide
        form.form#forget-password-form(method='post' onsubmit="return false;")
          legend #{language.forget_password_title}
          .form-result.text-success #{language.forget_password_apply_success}
          div.form-control.form-email
            input#email(placeholder='#{language.forget_password_email}',
            name='email', type='text', required)
            span.text-danger
          div.text-danger.form-error
          input(type='submit', value='#{language.forget_password_submit}')

      .form-container#reset-password.hide
        form.form#reset-password-form(method='post' onsubmit="return false;")
          legend #{language.reset_password_title}
          div.form-control.form-password
            input#login(placeholder='#{language.reset_password_password}', name='password', type='password', required)
            span.text-danger
          div.form-control.form-confirm-password
            input#password(placeholder='#{language.reset_password_confirm_password}',
            name='confirm_password', type='password', required)
            span.text-danger.pull-left
          div.text-danger.form-error
          input(type='submit', value='#{language.reset_password_submit}')