extends ../layouts/default

block content
  .page-signup
    .content-wrapper-270
      .form-container
        form#signup-form(method='post' onsubmit="return false;")
          legend #{language.signup_title}
          div.form-control.form-email
            input#email(placeholder='#{language.signup_email}', name='email', type='email', required)
            span.text-danger
          div.form-control.form-username
            input#username(placeholder='#{language.signup_username}',  name='username', type='text', minlength='2', required)
            span.text-danger
          div.form-control.form-password
            input#password(placeholder='#{language.signup_password}', name='password', type='password', required)
            span.text-danger
          div.form-control.form-company
            input#company_name(type='text', name='company_name', placeholder='#{language.signup_company}', required )
            span.text-danger
          div.form-control.form-job
            input#job(type='text', name='job', placeholder='#{language.signup_job}', required )
            span.text-danger
          div.form-control.form-telephone
            input#telephone(type='text', name='telephone', placeholder='#{language.signup_telephone}', required )
            span.text-danger
          div.form-control.form-code
            div.between
              input#code(type='text', name='verification_code', placeholder='#{language.signup_code}', required )
              button#getCode.btn-green(disabled='disabled') 获取验证码
            span.text-danger
          div.form-control.form-company-scale
            select(name='company_scale')
              option(value='') #{language.signup_company_size}
              if locale === 'zh'
                option(value='little') 1-10 人
                option(value='small') 11-20 人
                option(value='medium') 21-50 人
                option(value='large') 50人以上
              else
                option(value='little') 1-10
                option(value='small') 11-20
                option(value='medium') 21-50
                option(value='large') above 50
            span.text-danger
          div.text-danger.form-error
          div.form-actions
            input(type='submit', value='#{language.signup_button}')
