extends ../layouts/default

block content
  .page-signup
    .content-wrapper-270
      .form-container
        form#signup-form(method='post' onsubmit="return false;")
          legend #{language.signup_title}
          div.form-control.form-email
            input#email(placeholder='#{language.signup_email}', name='email', type='email', required)
            span.text-danger
          div.form-control.form-username
            input#username(placeholder='#{language.signup_username}',  name='username', type='text', minlength='3', required)
            span.text-danger
          div.form-control.form-password
            input#password(placeholder='#{language.signup_password}', name='password', type='password', required)
            span.text-danger
          div.form-control.form-sign
            input#sign(type='text', name='sign', placeholder='#{language.signup_invite_code}', required )
            span.text-danger
          div.text-danger.form-error
          input(type='submit', value='#{language.signup_button}')
